on:
  pull_request:
    branches: ["master"]
    paths:
    - 'apps/foundation/**'
    - 'apps/tag-updater/**'
    - '.github/workflows/tag-updater-ci.yaml'

name: `tag-updater` CI

jobs:
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@nextest
      - run: cargo nextest run --manifest-path apps/tag-updater/Cargo.toml --all-features

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: rustup component add rustfmt
      - run: cargo fmt --manifest-path apps/tag-updater/Cargo.toml --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: rustup component add clippy
      - run: cargo clippy --manifest-path apps/tag-updater/Cargo.toml -- -D warnings
